
.error {
    background-color: #d6796e;
    border: 5px solid rgb(147, 85, 85);
    padding: 1rem;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 1rem;
}

#topDiv {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
#container {
    background-color: rgb(113, 185, 161);
    border: 5px solid rgb(74, 135, 115);;
    width: clamp(30%, 400px, 90%);
    margin: auto;
    padding-bottom: 2.3rem;
    margin-top: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.uibutton {
    background-color: rgb(173, 243, 220);
    margin-top: 20px;
    border: 3px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: 4px 2px;
    cursor: pointer;
}

.uibar {
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 10px;
    width: clamp(1rem, 17rem, 20rem);
}

#toOther {
    padding-top: 1rem;
    font-size: 1rem;
}


.logintext {
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

@media (max-width : 480px) {

    .logintext {
        font-size: 3rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
}

.App {
    font-size: 5rem;

    margin: 0px;
    outline: none;

    position: absolute;
    text-align: center;
    background-color: rgb(173, 243, 220);
    width: 99%;
    height: 98%;
}

