#topText {
    font-size: 3    rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

#searchBar {
    padding: 10px;
    font-size: 1.2rem;
    width: 15rem;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}

.result {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#topDiv {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.container {
    background-color: rgb(113, 185, 161);
    border: 5px solid rgb(74, 135, 115);;
    width: clamp(30%, 400px, 90%);
    margin: auto;
    padding: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.6rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    display: inline;
}

.rank {
    display: inline;
}

.nav {
    display: inline;
}